!!!
%body
  .flash-box
    .notice グループを編集しました
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name HIROKO
          %ul.side-header__box__menu
            %li.side-header__box__menu__--new-group
        %side-header__box__menu__--edit-user
    %groups
  %chat-main
    %main-header
      %main-header__left-box
      -# a href = ""
    %messages
    -# 続けてメッセージが出る感じ
    %form
      -# form class?
