.main-header
  .main-header__left-box
    %h2.main-header__left-box__current-group general
    %ul.main-header__left-box__member-list Member: 
  = link_to edit_group_path(@group) do
    .main-header__edit-btn Edit